@import "../../ui-kit";

.search-form {
  height: rem(66);
  display: flex;
  align-items: center;
  gap: rem(10);
  padding: rem(5);
  background-color: #fff;
  border-radius: rem(36);

  &__input {
    background: transparent;
    height: 100%;
    border: none;
    outline: none;
  }

  &__button {
    --button-color-background: #7eb693;

    width: rem(56);
    height: rem(56);
    border-radius: 50%;
    padding: 0;

    svg {
      path {
        stroke: #fff;
      }
    }

    &::after {
      display: none;
    }
  }
}
