@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Yellowtail&display=swap");

// ---------------------------------------------------------------------------
// ui-kit

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-yellowtail: "Yellowtail", cursive;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  --color-blue: #274c5b;
  --color-green: #7eb693;
  --color-yellow: #efd372;
  --color-gray: #d4d4d4;
  --color-white: #f9f8f8;
  --color-lightGary: #eff6f1;
  --color-darkGray: #525c60;

  --transition: all 0.3s;
}

$media-screen-xs: "479.99px";
$media-screen-sm: "767.99px";
$media-screen-md: "1059.99px";
$media-hover: "screen and (min-width: #{$media-screen-sm})";

$root-font-size: 18;

@function rem($px) {
  @return ($px / $root-font-size) + rem;
}

@function em($px) {
  @return ($px / $root-font-size) + em;
}

@function percent($size-text, $line-height) {
  @return $line-height / $size-text * 100%;
}

// ---------------------------------------------------------------------------
// tags

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
  font-weight: var(--font-extrabold);
  font-style: normal;
  color: var(--color-blue);

  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(70);
  line-height: percent(70, 82);
}

h2 {
  font-size: rem(50);
  line-height: percent(50, 59);
}

h3 {
  font-size: rem(40);
  line-height: percent(40, 47);
}

h4 {
  font-size: rem(35);
  line-height: percent(35, 41);
}

h5 {
  font-size: rem(30);
  line-height: percent(30, 35);
}

h6 {
  font-size: rem(25);
  line-height: percent(25, 29);
}

p {
  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: rem(18);
  line-height: percent(18, 30);
  color: var(--color-darkGray);

  padding: 0;
  margin: 0;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: rem(21);

  margin: 0;
  padding: 0 0 0 rem(20);
}

li {
  font-family: var(--font-open-sans);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: rem(18);
  line-height: percent(18, 30);
  color: var(--color-darkGray);

  &::marker {
    font-weight: var(--font-extrabold);
    color: var(--color-blue);
  }
}

q {
  display: inline-block;
  max-width: rem(936);
  width: 100%;

  padding: rem(69) rem(59.5);
  margin: 0;
  border-radius: rem(30);

  background-color: #f1edea;

  font-weight: var(--font-bold);
  font-size: rem(20);
  line-height: percent(20, 33);
  color: var(--color-blue);
  text-align: center;
}

button {
  --button-color-text: #fff;
  --button-color-background: #274c5b;

  display: flex;
  background-color: var(--button-color-background);
  align-items: center;
  justify-content: center;
  gap: rem(10);

  font-family: var(--font-roboto);
  font-weight: var(--font-bold);
  font-size: rem(20);
  line-height: percent(20, 23);
  color: var(--button-color-text);

  margin: 0;
  padding: rem(29) rem(39);

  border: 0;
  border-radius: rem(16);

  transition: var(--transition);

  cursor: pointer;

  &::after {
    content: "";
    position: relative;
    background-image: url("/images/circle-arrow.svg");
    width: rem(21.5);
    height: rem(21.5);
    transition: var(--transition);
  }

  @media #{$media-hover} {
    &:hover {
      background-color: color-mix(
        in srgb,
        #000,
        var(--button-color-background) 85%
      );

      &::after {
        translate: rem(10) 0;
      }
    }
  }

  &:active {
    scale: 0.9;
  }
}

// ---------------------------------------------------------------------------
// ids

#root {
  font-family: var(--font-open-sans);
}

// ---------------------------------------------------------------------------
// classes

.button {
  &-yellow {
    --button-color-background: var(--color-yellow);
    --button-color-text: var(--color-blue);
  }

  &-white {
    --button-color-background: #fff;
    --button-color-text: var(--color-blue);
    padding: rem(28) rem(38);
    border: rem(1) solid var(--color-blue);
  }

  &-pagination {
    &::after {
      display: none;
    }
  }
}
