:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-yellowtail: "Yellowtail", cursive;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;

  --color-blue: "#274C5B";
  --color-green: "#7EB693";
  --color-yellow: "#EFD372";
  --color-gray: "#D4D4D4";
  --color-white: "#F9F8F8";
  --color-lightGary: "#EFF6F1";
  --color-darkGray: "#525C60";

  --media-screen-xs: "479.99px";
  --media-screen-sm: "767.99px";
  --media-screen-md: "1059.99px";
  --media-hover: "screen and (min-width: #{var(--media-screen-sm)})";
}

@function rem($px) {
  @return ($px / $root-font-size) + rem;
}

@function em($px) {
  @return ($px / $root-font-size) + em;
}

@function percent($size-text, $line-height) {
  @return $line-height / $size-text * 100%;
}
